.search {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0 5px 5px;
}

.submit {
    margin-bottom: 15px;
}

.addBook {
    margin-left: 20px;
}

































