<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howie.bookstore.dao.BookMapper">
    <select id="getBooks" resultType="Book">
        SELECT
            id,
            name,
            category,
            price,
            quantity,
            author,
            press
        FROM book
    </select>

    <select id="searchBookByName" parameterType="String" resultType="Book">
        SELECT
            id,
            name,
            category,
            price,
            quantity,
            author,
            press
        FROM book
        WHERE LOCATE(#{bookName}, name) > 0
    </select>

    <select id="getBookInformation" parameterType="int" resultType="BookInformation">
        SELECT
            id,
            name,
            author,
            category,
            price,
            introduction,
            author_introduction authorIntroduction,
            quantity,
            pageNum,
            press,
            image_url           imageURL,
            isbn
        FROM book
        WHERE id = #{id}
    </select>

    <update id="updateBookInformation" parameterType="BookInformation">
        UPDATE book
        SET
            name                = #{bookInformation.name},
            author              = #{bookInformation.author},
            price               = #{bookInformation.price},
            category            = #{bookInformation.category},
            press               = #{bookInformation.press},
            image_url           = #{bookInformation.imageURL},
            pageNum             = #{bookInformation.pageNum},
            isbn                = #{bookInformation.isbn},
            introduction        = #{bookInformation.introduction},
            author_introduction = #{bookInformation.authorIntroduction},
            quantity            = #{bookInformation.quantity}
        WHERE id = #{bookInformation.id}
    </update>

    <insert id="addBookInformation" parameterType="BookInformation">
        INSERT INTO book
        (name, author, category, price, introduction, author_introduction, quantity,
         pageNum, press, image_url, isbn)
        VALUES (
            #{bookInformation.name}, #{bookInformation.author}, #{bookInformation.category},
                                     #{bookInformation.price}, #{bookInformation.introduction},
                                     #{bookInformation.authorIntroduction}, #{bookInformation.quantity},
                                     #{bookInformation.pageNum}, #{bookInformation.press}, #{bookInformation.imageURL},
                                     #{bookInformation.isbn})
    </insert>

    <delete id="deleteBookInformation" parameterType="int">
        DELETE FROM book
        WHERE id = #{id}
    </delete>
</mapper>