<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howie.bookstore.dao.OrderMapper">
    <select id="getOrders" resultType="Order">
        SELECT
            o.id,
            order_id       orderId,
            purchaser_id   purchaserId,
            book_id        bookId,
            book_num       bookNum,
            amount,
            payment_method paymentMethod,
            express,
            adress,
            `date`,
            `status`,
            name bookName
        FROM `order` o, book b
        WHERE o.book_id = b.id
    </select>
</mapper>