<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howie.bookstore.dao.ReaderMapper">
    <select id="getReaders" resultType="Reader">
        SELECT
            id,
            name,
            gender,
            age,
            tel,
            purchase_sum purchaseSum
        FROM reader
    </select>

    <select id="getReader" parameterType="int" resultType="Reader">
        SELECT
            id,
            name,
            gender,
            age,
            tel,
            purchase_sum purchaseSum
        FROM reader
        WHERE id = #{id}
    </select>
</mapper>